.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 5px;
  font-size: 1rem;
}

.form__input:focus {
  background-color: #F2EDFD;
}
