.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #303138;
  width: 100%;
  height: 100vh;
  background-color: rgba(48, 49, 56, 0.9);
}

.modal__content {
  background-color: #FFF;
  width: 80%;
  padding: 20px;
}

.modal__header {
  width: 100%;
  border-bottom: solid 1px #303138;
  margin-bottom: 20px;
}

.modal__title {
  font-size: 1.5rem;
}

.modal__description {
  margin-bottom: 20px;
}

.modal-show {
  display: flex;
}