
.list__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #FFF;
  color: #303138;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
}

.list__title {
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.list__description {
  color: #6E6E73;
  letter-spacing: 1px;
}

.list__title--striked {
  text-decoration: line-through;
}

.list__description--striked {
  text-decoration: line-through;
}