.btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bolder;
  color: #FFF;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-main {
  background-color: #5B35A7;
}

.btn-main:hover {
  background-color: #341E5F;
}

.btn-main:active {
  background-color: #5B35A7;
}

.btn-delete {
  width: 80px;
  background-color: #FF1749;
  align-self: flex-end;
  border-radius: 5px;
}
